/*
    Щоб написати стиль до якогось тегу потрібно вибрати його.
    Для цього ми пишемо назву тегу і потім {}
    Приклад:
*/

body{
    /*тут пишемо всі стилі*/
}

h1{
    /*тут пишемо всі стилі*/
}

/* Якщо вибираємо клас, то пишемо:
    .назву_вашого_класу{
        тут пишемо всі стилі до цього класу
    }
*/


/*Основні стилі*/

{
    color: red; /*Змінює колір тексту*/
    background-color: red; /*Змінює колір тла*/
    font-size: 10px; /*Змінює розмір тексту*/


    border: 10px solid red; /*Додає цілісну межу наколо обʼєкта*/
    border: 10px dotted red; /*Додає межу в крапочку наколо обʼєкта*/
    border: 10px dashed red; /*Додає межу в рисочку наколо обʼєкта*/
    border-top: 10px dashed red; /*Додає цілісну межу зверху від обʼєкта*/
    border-bottom: 10px dashed red; /*Додає цілісну межу знизу від обʼєкта*/
    border-left: 10px dashed red; /*Додає цілісну межу зліва від обʼєкта*/
    border-right: 10px dashed red; /*Додає цілісну межу справа від обʼєкта*/

    float: left; /*Дозволяє потавити два блоки поряд*/
    float: right; /*Дозволяє потавити два блоки поряд*/

    height: 100px; /*Змінює висоту*/
    width: 100px; /*Змінює ширину*/

    margin-top: 100px;  /*Додає відступ зверху*/
    margin-bottom: 100px;  /*Додає відступ знизу*/
    margin-left: 100px;  /*Додає відступ зліва*/
    margin-right: 100px;  /*Додає відступ справа*/

    padding-top: 100px;  /*Додає відступ всередині зверху*/
    padding-bottom: 100px;  /*Додає відступ всередині знизу*/
    padding-left: 100px;  /*Додає відступ всередині зліва*/
    padding-right: 100px;  /*Додає відступ всередині справа*/

}










